.sidebar{
    background-color: #f39c12;
}
.sidebar-brand-text{
    color: white;
}
#admin_Btn_Cars{
    color: white;
}
#admin_logo{
    width: 100px;
    height: 100px;
}
#custom_pic{
    width: 50px;
    height: 50px;
}
#car_pic{
    width: 50px;
    height: 50px;
}
#driver_pic{
    width: 50px;
    height: 50px;
}
#order_pic{
    width: 50px;
    height: 50px;
}

/*Customer*/
#tblCustomerHeader{
    background-color: #f39c12;
}
#tblProfile_Page{
    background-color: #f39c12;
}
/*.......................*/
.main-panel {
    width: 100%;
    height: 95%;
    background: whitesmoke;
    margin-top: 5vh;
    margin-right: 15px;
    margin-bottom: 15px;
}
.main-panel::-webkit-scrollbar {
    display: none;
}
.panel {
    /*padding-left: 0;*/
    margin: 0;
    padding: 0;
    /*padding-right: 0;*/
}