body{
    margin: 50px;
    padding: 35px;
}
.btn_forgotten{
    background-color: #f39c12;
}
.fp_bg_img{
    background-image: url("../../src/assets/img/slideImage2.jpg");
    background-size: cover;
    opacity: 85%;
}
