.login_bgColor{
    background-image: url("../../src/assets/img/slideImage2.jpg");
    background-size: cover;
    opacity: 85%;
}
.login_btn_color{
    background-color: #f39c12;
}
body{
    margin: 50px;
    padding: 35px;
}

#btn_Login {
    text-decoration: none;
    color: white;
}