.bgColor {
    background-image: url("../../src/assets/img/slideImage2.jpg");
    background-size: cover;
    opacity: 85%;
}

.btnColor {
    background-color: #f39c12;
}

body {
    margin: 65px;
}

#btn_Register {
    text-decoration: none;
    color: white;
}